# copy this to /var/www/html/disclonecord

Options -Indexes +FollowSymLinks
RewriteEngine On
RewriteBase /disclonecord/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /disclonecord/index.html [L]
